{% extends "@Blog/Default/layout.html.twig" %}

{% block title %}
    jQuery UI Datepicker
{% endblock %}

{% block head %}
    {{ parent() }}
    <link name="jquery/ui" rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script name="query/ui" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}

{% block masthead %}
    <h1>jQuery UI Datepicker</h1>
{% endblock %}



{% block page_container %}
    <h3>I am page two !</h3>

    <div><p>Date: <input type="text" id="datepicker"></p></div>

    <a href="{{ path('blog_homepage') }}" class="spf-link">第1页</a>
    <br>
    <a href="{{ path('blog_url3') }}" class="spf-link">第3页-我会等2秒</a>
    <br>
    {% block container %}
        {{ words | raw }}
    {% endblock %}

{% endblock %}


{% block foot %}
    {{ parent() }}
    <script>
        $( function() {
            console.log($( "#datepicker" ));
            $( "#datepicker" ).datepicker();
        } );
    </script>
{% endblock %}
